@import url("https://fonts.googleapis.com/css?family=Poiret+One");
h1 {
  font-size: 35px; }

.App {
  font-family: 'Poiret One';
  height: 100vh; }

button {
  padding: 15px;
  background-color: white;
  border-radius: 5px; }

button:hover {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: white; }

.storyLinks:hover {
  background-color: rgba(0, 0, 0, 0.4); }
  .storyLinks:hover .storyName {
    color: white;
    font-size: 30px;
    text-transform: uppercase; }

.navbarItem {
  color: black;
  margin: 0 20px;
  text-decoration: none; }

.navbarItem:hover {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  color: white; }

.NavBar {
  margin-bottom: 50px; }

.Profile h1 {
  color: red; }

.About {
  margin: 0 auto; }
  .About p {
    width: 40vw; }

.aboutBody {
  text-align: center;
  margin: 0 auto; }

.Logo h1 {
  font-size: 70px;
  margin: 0 auto; }

.fullStory {
  text-align: center; }
  .fullStory p {
    display: inline-block;
    text-align: left; }

.descriptionInput {
  width: 100vw; }

input {
  width: 100vw; }

.bodyInput {
  white-space: initial;
  height: 100px;
  margin-bottom: 20px; }

.bodyContainer {
  overflow-wrap: break-word;
  word-break: break-all; }
