@import url("https://fonts.googleapis.com/css?family=Poiret+One");
h1 {
  font-size: 35px; }

.App {
  font-family: 'Poiret One';
  height: 100vh; }

button {
  padding: 15px;
  background-color: white;
  border-radius: 5px; }

.navbarItem {
  color: black;
  margin: 0 20px;
  text-decoration: none; }

.Profile h1 {
  color: red; }

.Logo h1 {
  font-size: 70px;
  margin: 0 auto; }

.fullStory {
  text-align: center; }
  .fullStory p {
    display: inline-block;
    text-align: left; }

.descriptionInput {
  width: 100vw; }

input {
  width: 100vw; }

.bodyInput {
  white-space: initial;
  height: 100px; }

.bodyContainer {
  overflow-wrap: break-word;
  word-break: break-all; }
