@import 'components/variables';
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

//Global styles
.App{
    font-family: 'Poiret One';
    height: 100vh;
}

button{
    padding: 15px;
    background-color: white;
    border-radius:5px;
    margin: 5px;
}
button:hover{
    padding: 15px;
    background-color: rgba(0,0,0,.4);
    border-radius:5px;  
    color: white;
}

h1{font-size: 35px;}

.storyLinks:hover{
    background-color: rgba(0,0,0,.4);
    .storyName{
        color: white;
        font-size: 30px;
        text-transform: uppercase;
    }
}

.commentInfo{
    margin-bottom: 5px;
}
.commentLike{
    display: inline-block;
}
//Navbar Styling
.Logo{
    h1{
        font-size: 70px;
        margin: 0 auto;
    }
}

.navbarItem{
    color: $primary-color;
    margin: 0 20px;
    text-decoration: none;
}
.navbarItem:hover{
    background-color: rgba(0,0,0,.4);
    padding: 10px;
    color:white;
}
.NavBar{
    margin-bottom: 50px;
}

//Profile Styling
.Profile{
    h1{
        color:black;
    }
    .newUserMessage{
        font-size: 50px;
        margin: 0 auto;
        background: -webkit-linear-gradient(rgb(255, 111, 0), rgb(255, 255, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .firstPost:hover{
        background-color: rgba(0,0,0,.4);
        color: white;
        font-size: 30px;
        text-transform: uppercase;
    }
}

//About Styling
.About{
    margin: 0 auto;
    p{
        width:40vw;
    }
}
.aboutBody{
    text-align: center;
    margin: 0 auto;
}

//Story Styling
.fullStory{
        text-align:center;
        padding: 0 50px;
    p{
        display: inline-block;
        text-align: left;
    }
}
.descriptionInput{
    width: 100vw;
}

input, textarea{
    width: 100vw;
}
.storyTitle{
    font-size: 70px;
    margin-bottom: 0;
}
// .bodyInput{
//     white-space: initial;
//     height:100px;
//     margin-bottom: 20px;
// }
// .bodyContainer{
//     overflow-wrap: break-word;  
//     word-break: break-all
// }