@import url("https://fonts.googleapis.com/css?family=Poiret+One");
.App {
  font-family: 'Poiret One';
  height: 100vh; }

button {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  margin: 5px; }

button:hover {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: white; }

h1 {
  font-size: 35px; }

.storyLinks:hover {
  background-color: rgba(0, 0, 0, 0.4); }
  .storyLinks:hover .storyName {
    color: white;
    font-size: 30px;
    text-transform: uppercase; }

.commentInfo {
  margin-bottom: 5px; }

.commentLike {
  display: inline-block; }

.Logo h1 {
  font-size: 70px;
  margin: 0 auto; }

.navbarItem {
  color: #000;
  margin: 0 20px;
  text-decoration: none; }

.navbarItem:hover {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  color: white; }

.NavBar {
  margin-bottom: 50px; }

.Profile h1 {
  color: black; }

.Profile .newUserMessage {
  font-size: 50px;
  margin: 0 auto;
  background: -webkit-linear-gradient(#ff6f00, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.Profile .firstPost:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 30px;
  text-transform: uppercase; }

.About {
  margin: 0 auto; }
  .About p {
    width: 40vw; }

.aboutBody {
  text-align: center;
  margin: 0 auto; }

.fullStory {
  text-align: center;
  padding: 0 50px; }
  .fullStory p {
    display: inline-block;
    text-align: left; }

.descriptionInput {
  width: 100vw; }

input, textarea {
  width: 100vw; }

.storyTitle {
  font-size: 70px;
  margin-bottom: 0; }
